# Ignore everything by default...
*

# ...except the code
!.gitignore
!*.py
!*.sh
!osm_ground_materials.json
!OSM_GROUND_MATERIALS.md
!radiant_flux_contribution_results.json
!RADIANT_FLUX_CONTRIBUTIONS.md
*.md
*.md
